<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/main.css">
	<title> University Societies </title>
</head>

<body>
	<%- include('common/header'); %>
	<div>
		<h1>
			<h1> <%- society.Soc_Name %> </h1>
			<ul>
				<li> Name: <%- society.Soc_Name %> </li>
				<li> Email: <%- society.Soc_Email %> </li>
			</ul>
            <a>
                <h2> Are you sure you want to delete this society? </h2>
            </a>
            <a href="/societies/delete/<%- society.Soc_ID %>/confirmed">
                <h3> Yes </h3>
            </a>
            <a href="/societies">
                <h3> No </h3>
            </a>
		</h1>
	</div>
</body>

</html>
